{% extends 'base.html' %}

{% block content %}
    <div class="title">
        <h1>
            Pošaljite poruku na: {{ satellite.name }}
        </h1> 
    </div>
    <form action = "stations_select/" method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <div class="buttons-flex">
            <input type="submit" value="Pošalji"/>
            <button onclick="window.location.href='/satellites_select/';return false;">Natrag</button>
        </div>
    </form>



{% endblock %}
