{% extends 'base.html' %}

{% block content %}
  <form method='POST'>  {% csrf_token %}
    <h1>Želite li izbrisati poruku "{{ object.msg_text }}"? </h1>
    <p><input type='submit' value='Da' /> <button onclick="window.location.href='../';return false;">Odustani</button></p>
  </form>
{% endblock %}
