{% extends 'base.html' %}

{% block content %}
  <div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Vrijeme Komunikacije</th>
          <th scope="col">Poruka</th>
          <th scope="col">Odgovor</th>
          <th scope="col">Satelit</th>
          <th scope="col">Postaja</th>
          <th scope="col">Link</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <!-- <tr>
        <th>Communication Time</th>
        <th>Message</th>
        <th>Response</th>
        <th>Satellite</th>
        <th>Station</th>
        <th>Link</th>
        <th></th>
      </tr> -->
      <tbody>
        <tr>
          <td>{{object.com_time}}</td>
          <td>{{object.msg_text}}</td>
          <td>{{object.response}}</td>
          <td>{{object.satellite.name}}</td>
          <td>{{object.station}}</td>
          <td>{{object.link}}</td>
          <td><a href='/communication/{{ object.id }}/delete/'>Izbriši</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons-flex">
    <p>
      <button onclick="window.location.href='../../';">Natrag</button>
    </p>
  </div>

{% endblock %}
