{% extends 'base.html' %}

{% block content %}
  <div class="title">
    <h1>
      Odaberite satelit za slanje poruke
    </h1> 
  </div>
  {% for sat in satellites %}
    {% comment %} <p><a href='/message_create/sat.id'></a>{{sat.name}}</p> {% endcomment %}
    <p>Pošalji poruku na satelit: <a href='/communications_create/{{sat.id}}' id={{sat.id}}>{{sat.name}}</a></p>
  {% endfor %}
  <p>
    <button onclick="window.location.href='../';">Natrag</button>
  </p>
{% endblock %}
