{% extends 'base.html' %}

{% block content %}
    <p>Odaberi postaju:</p>
    <form action ="../finish" method ="POST">{% csrf_token %}
        <div class="radio-buttons-container">
            <input type="radio" name="station" id="random" value="Random" checked="checked">
            <label for="random">Nasumično</label><br>
            {% for s in stations %}
                <input type="radio" name="station" id="s{{ forloop.counter }}" value="{{s}}">
                <label for="s{{ forloop.counter }}">{{ s.station_name }}</label><br>
            {% endfor %}
            <input type="hidden" id="linkID" name="linkID" value="{{link}}">
            <input type="hidden" id="msg" name="msg" value="{{msg_text}}">
            <input type="hidden" id="randomStation" name="randomStation" value="{{random_station}}">
        </div>

        <div class="buttons-flex">
            <input type="submit" value="Pošalji poruku"/>
            <button onclick="window.location.href='/communications_create/{{sat_id}}';return false;">Natrag</button>
            <button onclick="window.location.href='/satellites_select/';">Drugi satelit</button>
        </div>
    </form>
    


{% endblock %}