{% extends 'base.html' %}

{% block content %}
  <div class="home-image-container">
    {% load static %}
    <img src="{% static 'images/SatCom_black.png' %}" alt="logo-black"  style="height: auto; 
      width: auto; 
      max-width: 180px; 
      max-height: 180px;">
  </div>
  {% comment %} tablica poruka {% endcomment %}
  <div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Vrijeme Komunikacije</th>
          <th scope="col">Poruka</th>
          <th scope="col">Odgovor</th>
          <th scope="col">Satelit</th>
          <th scope="col">Postaja</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for communication in user_communications %}
        <tr>
          <td>{{communication.com_time}}</td>
          <td>{{communication.msg_text}}</td>
          <td>{{communication.response}}</td>
          <td>{{communication.satellite.name}}</td>
          <td>{{communication.station}}</td>
          <td>
            <a href='/communication/{{communication.id}}/'>Detalji Poruke</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<div class="buttons-flex">
  <p>
    <button onclick="window.location.href='/satellites_select/';" id="new_msg">Nova Poruka</button>
  </p>
</div>
{% endblock %}
