{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div>
  <div class="title">
    <h1>
      Promijenite svoju lozinku
    </h1> 
  </div>
  <form method='POST'> {% csrf_token %}
    {{ form|crispy }}
    <div class="buttons-flex">
      <input type='submit' value='Promijeni lozinku' />
      <button onclick="window.location.href='../';return false;">Odustani</button>
    </div>
  </form>
</div>
{% endblock %}
