{% extends 'base.html' %}

{% block content %}
  <div>
    <div class="title">
      <h1>
        Satelit: {{ object.name }}
      </h1> 
      
    </div>
    <form action="save" method="POST"> {% csrf_token %}
      <label for="satname">Ime Satelita:</label>
      <input type="text" id="satname" name="satname" required value={{object.name}} > <br>
      {%for link in all_links%}
      {%if link in links%}
      <input type="checkbox" id="{{link.id}}" name="links" value={{link.id}} checked="checked">
      <label for={{link.name}}> {{link.name}}</label><br>
      {%else%}
      <input type="checkbox" id="{{link.id}}" name="links" value={{link.id}}>
      <label for={{link.name}}> {{link.name}}</label><br>
      {%endif%}
      {%endfor%}
      <div class="buttons-flex">
        <input type='submit' value='Spremi' />
        <button onclick="window.location.href='../../';return false;">Odustani</button>
      </div>
    </form>
  </div>
{% endblock %}
