{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="title">
        <h1>
        Kreirajte novi satelit
        </h1> 
    </div>
    <form method="POST"> {% csrf_token %}
        {{ form|crispy }}
        <div class="buttons-flex">
            <input type='submit' value='Spremi' id="save"/>
            <button onclick="window.location.href='../';return false;">Odustani</button>
          </div>
    </form>
{% endblock %}
