{% extends 'base.html' %}

{% block content %}
  <div>
    <form method='POST'>  {% csrf_token %}
      <h1>Želite li izbrisati satelit "{{ object.name }}"? </h1>
      <div class="buttons-flex">
        <p><input type='submit' value='Da' /> <button onclick="window.location.href='../';return false;">Odustani</button></p>
      </div>
    </form>
  </div>
{% endblock %}
