{% extends 'base.html' %}

{% block content %}
 
  <div>
    <div class="title">
      <h1>
        Popis svih dostupnih satelita
      </h1> 
    </div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Vlasnik Satelita</th>
          <th scope="col">Ime Satelita</th>
          <th scope="col">Linkovi</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for satellite in satellites %}
        <tr>
          <td>{{satellite.owner}}</td>
          <td>{{satellite.name}}</td>
          {% for key,value in links.items%}
            {% if key == satellite.id%}
              <td>{{value}}</td>
            {%endif%}
          {%endfor%}
          <td>
            <a href='/satellites_details/edit/{{satellite.id}}/'>Uredi satelit</a>
          </td>
          <td>
            <a href='/satellites_details/edit/{{satellite.id}}/delete'>Izbriši</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="buttons-flex">
      <p>
        <button onclick="window.location.href='../../';">Natrag</button>
      </p>
    </div>
  </div>

{% endblock %}
