.navbar {
  padding: 0.5rem 2rem;
}

.table .thead-light th {
  color: #495057;
  background-color: #D6EEEE;
  border-color: #dee2e6; 
}

a:link {
  text-decoration: none;
  color: #557d7d;
}
a:visited {
  color: #557d7d;
}
/* a:hover {
  text-decoration: underline;
}  */

.bordered-content {
  border: 2px solid #D6EEEE;
  border-radius: 5px;
}


.buttons-flex{
    display: flex;
    column-gap: 15px;
}

.content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
}

.title {
  margin-bottom: 30px;
}

.login-content hr {
  width: 90%;
  border: 2px solid #D6EEEE;
  border-radius: 1px;
  margin-top: 0;
}

.radio-buttons-container {
  text-align: center;
}

.login-button {
  text-align: center;
  width: 100%;
  background-color: #D6EEEE;
  color: #495057;
}

.bg-light {
  background-color: #D6EEEE !important;
}

.nav-username-dropdown a {
  color: rgba(0, 0, 0, .5);
}

.nav-username-dropdown:hover a {
  color: rgba(0, 0, 0, .7);
}

.nav-username-dropdown img {
  height: auto;
  width: auto;
  max-height: 30px;
  max-width: 30px;
}

.buttons-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 5px;
  border-width: thin;
}

button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 23px 0px;
}

input[type=submit] {
  padding:1px 5px; 
  border-radius: 5px;
  border-width: thin; 
}

input[type=submit]:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 23px 0px;
}