{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Prijava{% endblock %}

{% block content %}
<div class="login-content bordered-content">
  <div class="login-title">
    <h1>
      Prijava
    </h1> 
  </div>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="login-button">Prijavi se</button>
  </form>
</div>
{% endblock %}
