{% load static %}

<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <head>
    <title>SatCOM</title>
  </head>
  <body>
    <div class="my-container">
      {% if user.is_active %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <a class="navbar-brand" href="/">
            <img src="{% static 'images/SatCOM_logo_v3.png' %}" alt="logo" class="navbar-logo-image" style="height: auto; 
            width: auto; 
            max-width: 120px; 
            max-height: 120px;
            border-radius: 8px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                {% if user.is_superuser %}
                  <a class="nav-link" href='/users_create/'>Stvori Korisnika</a>
                {% endif %}
              </li>
              {% if user.is_sat_admin %}
              <li class="nav-item">
                <a class="nav-link" href='/satellites_create/'>Stvori Satelit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/satellites_details/">Uredi Satelite</a>
              </li>
              {% endif %}
            </ul>
          </div>
          
          <div class="nav-username-dropdown">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'images/Profile_icon.png' %}" alt="Profile icon" class="profile-icon">
                {{ user.email }}
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/password-reset/">Promijeni Lozinku</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/logout/">Odjavi se</a>
              </div>
            </div>
          </div>
        </nav>
      {% else %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="{% static 'images/SatCOM_logo_v3.png' %}" alt="logo" class="navbar-logo-image" style="height: auto; 
          width: auto; 
          max-width: 120px; 
          max-height: 120px;
          border-radius: 8px;">
        </a>
      </nav>
      {% endif %}
    
      <div class="content">
        {% block content %}
          replace me
        {% endblock %}
      </div>
    </div>
  </body>
  </html>
  